.footer{
    background-color: rgba(0, 0, 0, 0.89);
    display: flex;
    max-height: 5vh;
    min-height: 5vh;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    color: rgb(215, 192, 64);
    bottom: 0;
    left: 0;
    /* position: fixed; */
    width: 100%;
    box-shadow: 0 -2px 8px rgb(0, 0, 0);
}